.cache
.docusaurus
.env
.env.*
.eslintcache
.lock-wscript
.node_repl_history
.npm
.nyc_output
.output
.serverless/
.stylelintcache
.tap/
.temp
.vuepress/dist
.yarn-integrity
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
**/.vitepress/cache
**/.vitepress/dist
*~
~*
bower_components/
coverage/
dist/
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*

!.env.example
